<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Followed</title>
</head>
<body>
    <table>
        <thead>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Action</th>
        </thead>
        <tbody>
            {% for user in all_users %}
                <tr>
                    <td>{{user['first_name']}} {{user['last_name']}}</td>
                    <td>
                        {% if user['id'] not in users_to_follow %}
                        <a href="/follow/{{user['id']}}">Follow</a>
                        {% else %}
                        <a href="/unfollow/{{user['id']}}">Unfollow</a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>